<!DOCTYPE html>
<html ng-app="TMoohIApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>TMoohI status</title>
	
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link rel="stylesheet" href="TMoohIApp.css">
</head>

<body ng-controller="StatusController as statusCtrl">
	<div class="page" layout="row">
		<!-- left margin -->
		<div flex="15" flex-md="5" hide-sm></div>
		<!-- content -->
		<div class="content" layout="column" flex="70" flex-md="90" flex-sm="100">
			<h2 flex>{{status.build.projectname}} Status</h2>
			<span flex="30">Version: {{status.build.data.version}} (Build {{status.build.data.build}})</span>
			<span flex="30">Uptime: <span time-since="status.since"></span></span>
			<div id="logger" flex scroll-to-bottom>
				<div class="logline" ng-repeat="logline in loglines">
					<span
						class="loglevel loglevel-{{logline.level | loglevel | lowercase}}">{{logline.level | loglevel}}</span> 
						<span class="logtype logtype-{{logline.type}}">{{logline.type}}</span>
					<span class="logevent logevent-{{logline.event}}" ng-show="logline.event != undefined">{{logline.event}}</span> 
					<span class="logmessage logmessage-{{logline.type}}">{{logline.message}}</span>
				</div>
			</div>
			<div flex layout="column">
				<h2>Users</h2>
				<div class="user" ng-repeat="(user, info) in status.users" flex layout="column">
					<h3>{{info.nick}}</h3>
					<div>
						<h4>Channels</h4>
						<div ng-repeat="channel in info.channels">
							<div ng-click="showChildren = !showChildren">
								<div>
									{{channel.name}} ({{channel.cluster}})
								</div>
								<div ng-show="showChildren">
									<div>User badges: <span ng-bind-html="channel.data['USERSTATE'] | userstate"></span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- right margin -->
		<div flex="15" flex-md="5" hide-sm></div>
	</div>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
	<script src="parseircmessage.js"></script>
	<script src="TMoohIApp.js"></script>
</body>
</html>